@tailwind base;
@tailwind components;
@tailwind utilities;

.navBar {
    position: sticky;
    height: 9rem;
    width: 100%
}

.navTitle {
    font-size: 3rem;
    padding-left: 2%;
}

.navList {
    font-size: 1.25rem;
    color: #000000;
    height: 40%;
    background-color: #9ed4e8;
}